a{
    text-decoration: none;
}

@media (max-width: 480px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }

    body{
        margin: 0;
        padding: 0;
        background-color:#c5f3f2;
    }

    header{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
    }

    .pfp{
        margin-top: 5px;
        margin-left: 10px;
        border-radius: 100%;
        width: 60px;
    }

    .site_welcome{
        width: 55%;
        padding-top: 20px;
        padding-left: 115px;
        font-size: 15px;
        text-align: center;
        position: absolute;
        font-family: "Lucida Console", monotype;
    }

    nav div{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navigation_button_text{
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .navigation li{
        border-radius: 5% ;
        list-style-type: none;
        margin-top: 5px;
        width: 165px;
        background-color:#a1e7e6;
    }

    .navigation ul li a {
        display: block;
        color: #000;
        padding: 8px 19px;
        text-decoration: none;
    }

    .hyperlink_main-text{
        margin-top: 40px;
        text-align: center;
        padding-left: 15px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .hyperlink img{
        width: 300px;
    }

    .hyperlink{
        font-size: 13px;
        font-family: "Lucida Console", monotype; 
    }

    table{
        padding-left: 10px;
        padding-right: 10px;
    }

    .name_table{
        margin-top: 25px;
        font-size: 15px;
        font-family: "Lucida Console", monotype; 
        text-align: center;
    }

    .form_name{
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }

    form label div{
        margin-top: 15px;
    }

    .all_form{
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
        font-family: "Lucida Console", monotype; 
    }

    .marker{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .lang_text{
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        font-family: "Lucida Console", monotype; 
    }

    .accept{
        margin-bottom: 25px;
    }

    footer{
        background-color: rgba(130, 233, 233, 0.518);
        height: 70px;
    }

    .text_footer{
        font-size: 20px;
        padding-top: 25px;
        font-family: "Lucida Console", monotype; 
    }

    .change_tabl{
        order: 0;
        font-size: 12px;
        font-family: "Lucida Console", monotype; 
    }

    .change_hyperlink{
        order: 1
    }
}
